beautifulsoup4==4.12.3
lxml==5.2.2
lyricsgenius==3.0.1
pandas==2.2.2
python-dotenv==1.0.1
tqdm==4.66.4
requests==2.31.0
matplotlib==3.9.0
numpy==2.0.0
ruptures==1.1.9
scipy==1.13.1
scikit-learn==1.6.1
sentence-transformers==3.0.1
spacy==3.8.11
# Then install English pipeline: /usr/bin/python3 -m spacy download en_core_web_sm
lexical-diversity>=0.1.0
lexicalrichness>=0.1.9
vaderSentiment==3.3.2
transformers>=4.41.0
torch>=2.2.0
